
:root {
	--flipdotWidth: 84;
	--flipdotHeight: 16;
}

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html, body{
	height: 100%;
}

body{
	font-family: sans-serif;
}

#mainContainer{
	display: flex;
	height: 100%;
}

main{
	padding: 10px;
	max-width: 700px;
	flex: 1;
}

#replacement{
	flex: 1;
	padding: 10px;
}

#replacementCode{
	font-size: 18px;
	padding: 10px;
	width: 100%;
	height: 100%;
}

#flipdotsContainer{
	
}

.flipdotCanvasContainer{
	width: 100%;
	aspect-ratio: var(--flipdotWidth) / var(--flipdotHeight);
	border: 10px #000 solid;
	margin: 2% 0px;
	position: relative;
}

.flipdotMask{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	/*background-image: url(../dotMask.png);
	background-size: calc(100%/var(--flipdotWidth)) calc(100%/var(--flipdotHeight));
	background-origin: content-box;
	background-clip: content-box;*/
	
	/*
		I tried tiling just one dot dynamically from the flipdot size variables,
		as seen above, but that turned out to not be precise enough for some reason,
		resulting in the grid not fitting the underlying pixels at certain sizes.
	*/
	background-image: url(../dotMask_84x16.png);
	background-size: 100%;
}

.flipdotCanvas{
	display: block;
	image-rendering: pixelated;
	width: 100%;
}

.charsetCanvas{
	image-rendering: pixelated;
	display: none;
}

#fallblattContainer{
	display: flex;
	background-color: #26356e;
	color: #fff;
	font-family: sans-serif;
	aspect-ratio: 5.8;
	border: 10px #a63 solid;
}

#fallblattContainer>*{
	container-type: size;
	text-align: center;
	border: 1px rgba(0, 0, 0, 0.5) solid;
	line-height: 1.16;
}

@container (width > 0px){
	#fallblattContainer>*>span {
		font-size: calc(80cqh);
	}
}

.fallblatt-uhr{
	flex: 1.75;
}

.fallblatt-spacer{
	flex: 0.5;
}

.fallblatt-char{
	flex: 1;
}

#titleTextArea{
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
	font-size: 2em;
	padding: 5px;
}

#buttonsContainer{
	display: flex;
	justify-content: center;
	margin: 10px 0px;
}

#buttonsContainer>*{
	flex: 1;
	max-width: 200px;
	font-size: 1.3em;
	margin: 0px 10px;
	background-color: #444;
	color: #fffc5a;
	border: 1px #000 solid;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px;
}

p.error{
	border: 1px #ff585a solid;
	color: #7e2b2c;
	background-color: rgba(255, 88, 90, 0.2);
	padding: 5px;
	margin: 10px 0px;
	text-align: center;
}