

.flipdotCanvas{
	display: block;
	margin: 10px;
	image-rendering: pixelated;
	height: 100px;
	border: 10px #000 solid;
}

#charsetCanvas{
	image-rendering: pixelated;
	height: 500px;
	display: none;
}