
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

#flipdotsContainer{
	padding: 10px;
}

.flipdotCanvas{
	display: block;
	image-rendering: pixelated;
	width: 100%;
	border: 10px #000 solid;
	margin: 2% 0px;
}

#charsetCanvas{
	image-rendering: pixelated;
	display: none;
}